

:root{
  --color-palette-1:#A5D5D1;
  --color-palette-2:#8A9CEA;
  --color-palette-3:#81EFD1;
  --color-palette-4:#D4C4BE;
  --color-palette-5:#76A5D4;
}

body{
  background-color: var(--color-palette-4);
  font-family: "Jockey One", sans-serif;
}

:root{
  --color-palette-1:#A5D5D1;
  --color-palette-2:#8A9CEA;
  --color-palette-3:#81EFD1;
  --color-palette-4:#D4C4BE;
  --color-palette-5:#D9D9D9;
  --color-palette-6:#76A5D4;
}

body{
  background-color: var(--color-palette-4);
  font-family: "Jockey One", sans-serif;
  text-align: center;
}

.title{
  position: flex;
  text-align: center;
  font-size:5vh;
}

.HeadingBar{
  display:flex;
  justify-content: center;
  background-color: var(--color-palette-2);
  gap: 10vw;
  cursor: pointer;
}
.logo{
  height:10vh;
  width:10vw;
  margin:1vh;
}

