.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 20px;
  }
  
  .spin {
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    border-radius: 1rem;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }